.dropdown {
    position: relative;
    width: 310px;
    filter: url(#goo);
  }
  .dropdown__face, .dropdown__items {
    background-color: gray;
    padding: 20px;
    border-radius: 25px;
  }
  .dropdown__face {
    display: block;
    position: relative;
  }
  .dropdown__items {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 94%;
    list-style: none;
    list-style-type: none;
    display: block;
    justify-content: space-between;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  }
  .dropdown__items::before {
    content: "";
    background-color: gray;
    position: absolute;
    bottom: 100%;
    right: 20%;
    height: 40px;
    width: 20px;
  }
  .dropdown__arrow {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
  }
  .dropdown input {
    display: none;
  }
  .dropdown input:checked ~ .dropdown__items {
    top: calc(100% + 25px);
    visibility: visible;
    opacity: 1;
  }
  
  .dropdown__text{
    color:#e2e2e2;
    margin: 0px ;
  }
  
  
  
  svg {
    display: none;
  }